<html>
    <head>
        <style>
            table, th, td {
            border: 1px solid black;
            }
        </style>
    </head>

    <link rel = "stylesheet" href = "css/background.css">

    <body>
        <h1>
                <a href="/">Home</a>
                <a href="/newtask">Add New Task</a>
        </h1>
        
        <table style="width:60%">
                <tr>
                  <th>Name</th>
                  <th>Due Date</th> 
                  <th>Description</th>
                </tr>


                <% for (let i = 0; i<ar.length; i++){%>
                <tr></tr>  
                    
                    <td>
                        <%= ar[i].taskName %>  
                    </td>
                    <td>
                        <%= ar[i].taskDue %>  
                    </td>
                    <td>
                        <%= ar[i].taskDes %>  
                    </td>
                  
                </tr>
                <%} %>
              </table>
              

    </body>


</html>