<html>
        <body style="background-color:#33ccff;">

    <body>
        <h1>
            <a href="http://localhost:8000">Home</a>
            <a href="http://localhost:8000/listtasks">List Tasks</a>
        </h1>

        <form action="/newtask" method="POST">
            Task Name:
            <input type="text" name="taskName" /> </br>
            Task Due:
            <input type="date" name="taskDue" /> </br>
            Task Description:
            <input type="text" name="taskDes" /> </br>
            <button>Submit</button>
        </form>

    </body>
</html>